<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<connectionStrings><add name="QUANLYKHACHSANEntities" connectionString="metadata=res://*/Model.QuanLyKhachSan.csdl|res://*/Model.QuanLyKhachSan.ssdl|res://*/Model.QuanLyKhachSan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-O5VB9S0\TUAN;initial catalog=QUANLYKHACHSAN;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>